<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>percentages</key>
	<dict>
		<key>front</key>
		<dict>
			<key>head</key>
			<string>3.5</string>
			<key>neck</key>
			<string>1</string>
			<key>chest</key>
			<string>13</string>
			<key>left_upper_arm</key>
			<string>2</string>
			<key>right_upper_arm</key>
			<string>2</string>
			<key>left_lower_arm</key>
			<string>1.5</string>
			<key>right_lower_arm</key>
			<string>1.5</string>
			<key>left_hand</key>
			<string>1.25</string>
			<key>right_hand</key>
			<string>1.25</string>
			<key>genitals</key>
			<string>1</string>
			<key>left_thigh</key>
			<string>4.75</string>
			<key>right_thigh</key>
			<string>4.75</string>
			<key>left_leg</key>
			<string>3.5</string>
			<key>right_leg</key>
			<string>3.5</string>
			<key>left_foot</key>
			<string>1.75</string>
			<key>right_foot</key>
			<string>1.75</string>
		</dict>
		<key>back</key>
		<dict>
			<key>head</key>
			<string>3.5</string>
			<key>neck</key>
			<string>1</string>
			<key>chest_back</key>
			<string>13</string>
			<key>left_upper_arm</key>
			<string>2</string>
			<key>right_upper_arm</key>
			<string>2</string>
			<key>left_lower_arm</key>
			<string>1.5</string>
			<key>right_lower_arm</key>
			<string>1.5</string>
			<key>left_hand</key>
			<string>1.25</string>
			<key>right_hand</key>
			<string>1.25</string>
			<key>left_buttock</key>
			<string>2.5</string>
			<key>right_buttock</key>
			<string>2.5</string>
			<key>left_thigh</key>
			<string>4.75</string>
			<key>right_thigh</key>
			<string>4.75</string>
			<key>left_leg</key>
			<string>3.5</string>
			<key>right_leg</key>
			<string>3.5</string>
			<key>left_foot</key>
			<string>1.75</string>
			<key>right_foot</key>
			<string></string>
		</dict>
	</dict>
	<key>mappings</key>
	<dict>
		<key>Head</key>
		<string>head</string>
		<key>Chest</key>
		<string>chest</string>
		<key>Back</key>
		<string>chest_back</string>
		<key>Neck</key>
		<string>neck</string>
		<key>Left Upper Arm</key>
		<string>left_upper_arm</string>
		<key>Right Upper Arm</key>
		<string>right_upper_arm</string>
		<key>Left Lower Arm</key>
		<string>left_lower_arm</string>
		<key>Right Lower Arm</key>
		<string>right_lower_arm</string>
		<key>Left Hand</key>
		<string>left_hand</string>
		<key>Right Hand</key>
		<string>right_hand</string>
		<key>Left Thigh</key>
		<string>left_thigh</string>
		<key>Right Thigh</key>
		<string>right_thigh</string>
		<key>Genitals</key>
		<string>genitals</string>
		<key>Left Leg</key>
		<string>left_leg</string>
		<key>Right Leg</key>
		<string>right_leg</string>
		<key>Left Foot</key>
		<string>left_foot</string>
		<key>Right Foot</key>
		<string>right_foot</string>
		<key>Left Buttock</key>
		<string>left_buttock</string>
		<key>Right Buttock</key>
		<string>right_buttock</string>
	</dict>
	<key>names</key>
	<array>
		<string>Head</string>
		<string>Neck</string>
		<string>Chest</string>
		<string>Back</string>
		<string>Left Upper Arm</string>
		<string>Right Upper Arm</string>
		<string>Left Lower Arm</string>
		<string>Right Lower Arm</string>
		<string>Left Hand</string>
		<string>Right Hand</string>
		<string>Genitals</string>
		<string>Left Thigh</string>
		<string>Right Thigh</string>
		<string>Left Leg</string>
		<string>Right Leg</string>
		<string>Left Foot</string>
		<string>Right Foot</string>
		<string>Left Buttock</string>
		<string>Right Buttock</string>
	</array>
	<key>totals</key>
	<dict>
		<key>front</key>
		<dict>
			<key>head</key>
			<string>7471</string>
			<key>neck</key>
			<string>1095</string>
			<key>chest</key>
			<string>58873</string>
			<key>left_upper_arm</key>
			<string>10162</string>
			<key>right_upper_arm</key>
			<string>7703</string>
			<key>left_lower_arm</key>
			<string>6633</string>
			<key>right_lower_arm</key>
			<string>6273</string>
			<key>left_hand</key>
			<string>4135</string>
			<key>right_hand</key>
			<string>3768</string>
			<key>genitals</key>
			<string>1487</string>
			<key>left_thigh</key>
			<string>19125</string>
			<key>right_thigh</key>
			<string>17397</string>
			<key>left_leg</key>
			<string>10491</string>
			<key>right_leg</key>
			<string>10522</string>
			<key>left_foot</key>
			<string>4549</string>
			<key>right_foot</key>
			<string>4458</string>
		</dict>
		<key>back</key>
		<dict>
			<key>head</key>
			<string>10260</string>
			<key>neck</key>
			<string>1953</string>
			<key>chest_back</key>
			<string>58447</string>
			<key>left_upper_arm</key>
			<string>9557</string>
			<key>right_upper_arm</key>
			<string>9472</string>
			<key>left_lower_arm</key>
			<string>6909</string>
			<key>right_lower_arm</key>
			<string>7932</string>
			<key>left_hand</key>
			<string>5701</string>
			<key>right_hand</key>
			<string>4268</string>
			<key>left_buttock</key>
			<string>11228</string>
			<key>right_buttock</key>
			<string>11170</string>
			<key>left_thigh</key>
			<string>17044</string>
			<key>right_thigh</key>
			<string>14043</string>
			<key>left_leg</key>
			<string>10387</string>
			<key>right_leg</key>
			<string>10160</string>
			<key>left_foot</key>
			<string>5100</string>
			<key>right_foot</key>
			<string>4629</string>
		</dict>
	</dict>
	<key>front</key>
	<dict>
		<key>right_foot</key>
		<array>
			<string>{913, 310}</string>
			<string>{1017, 421}</string>
		</array>
		<key>left_foot</key>
		<array>
			<string>{909, 187}</string>
			<string>{1023, 300}</string>
		</array>
		<key>right_leg</key>
		<array>
			<string>{724, 315}</string>
			<string>{915, 405}</string>
		</array>
		<key>left_leg</key>
		<array>
			<string>{727, 197}</string>
			<string>{915, 286}</string>
		</array>
		<key>right_thigh</key>
		<array>
			<string>{476, 370}</string>
			<string>{514, 405}</string>
			<string>{514, 333}</string>
			<string>{571, 405}</string>
			<string>{563, 323}</string>
			<string>{724, 406}</string>
		</array>
		<key>left_thigh</key>
		<array>
			<string>{468, 200}</string>
			<string>{495, 220}</string>
			<string>{502, 190}</string>
			<string>{562, 266}</string>
			<string>{559, 187}</string>
			<string>{724, 298}</string>
		</array>
		<key>genitals</key>
		<array>
			<string>{514, 281}</string>
			<string>{559, 317}</string>
		</array>
		<key>right_hand</key>
		<array>
			<string>{495, 475}</string>
			<string>{606, 594}</string>
		</array>
		<key>left_hand</key>
		<array>
			<string>{483, 9}</string>
			<string>{606, 125}</string>
		</array>
		<key>right_lower_arm</key>
		<array>
			<string>{369, 427}</string>
			<string>{487, 542}</string>
		</array>
		<key>left_lower_arm</key>
		<array>
			<string>{369, 66}</string>
			<string>{503, 163}</string>
		</array>
		<key>right_upper_arm</key>
		<array>
			<string>{180, 424}</string>
			<string>{354, 489}</string>
		</array>
		<key>left_upper_arm</key>
		<array>
			<string>{183, 116}</string>
			<string>{370, 191}</string>
		</array>
		<key>chest</key>
		<array>
			<string>{139, 183}</string>
			<string>{445, 395}</string>
			<string>{440, 265}</string>
			<string>{500, 320}</string>
		</array>
		<key>neck</key>
		<array>
			<string>{136, 260}</string>
			<string>{155, 343}</string>
		</array>
		<key>head</key>
		<array>
			<string>{18, 262}</string>
			<string>{133, 334}</string>
		</array>
	</dict>
	<key>back</key>
	<dict>
		<key>right_foot</key>
		<array>
			<string>{914, 176}</string>
			<string>{1017, 265}</string>
		</array>
		<key>left_foot</key>
		<array>
			<string>{898, 305}</string>
			<string>{1012, 395}</string>
		</array>
		<key>right_leg</key>
		<array>
			<string>{722, 163}</string>
			<string>{899, 280}</string>
		</array>
		<key>left_leg</key>
		<array>
			<string>{723, 293}</string>
			<string>{911, 405}</string>
		</array>
		<key>right_thigh</key>
		<array>
			<string>{553, 144}</string>
			<string>{726, 283}</string>
		</array>
		<key>left_thigh</key>
		<array>
			<string>{525, 284}</string>
			<string>{727, 421}</string>
		</array>
		<key>right_buttock</key>
		<array>
			<string>{449, 169}</string>
			<string>{564, 279}</string>
		</array>
		<key>left_buttock</key>
		<array>
			<string>{454, 280}</string>
			<string>{565, 408}</string>
		</array>
		<key>right_hand</key>
		<array>
			<string>{487, 1}</string>
			<string>{609, 113}</string>
		</array>
		<key>left_hand</key>
		<array>
			<string>{449, 465}</string>
			<string>{611, 587}</string>
		</array>
		<key>right_lower_arm</key>
		<array>
			<string>{347, 51}</string>
			<string>{511, 152}</string>
		</array>
		<key>left_lower_arm</key>
		<array>
			<string>{362, 398}</string>
			<string>{492, 541}</string>
		</array>
		<key>right_upper_arm</key>
		<array>
			<string>{178, 97}</string>
			<string>{354, 174}</string>
		</array>
		<key>left_upper_arm</key>
		<array>
			<string>{167, 389}</string>
			<string>{349, 483}</string>
		</array>
		<key>chest_back</key>
		<array>
			<string>{146, 175}</string>
			<string>{451, 397}</string>
		</array>
		<key>neck</key>
		<array>
			<string>{125, 223}</string>
			<string>{157, 346}</string>
		</array>
		<key>head</key>
		<array>
			<string>{3, 208}</string>
			<string>{129, 358}</string>
		</array>
	</dict>
</dict>
</plist>
